
.part-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(images/headphones_hero_1.jpg);
    width: 100%;
    height: 800px;
    color: #ffffff;
    align-content: space-between;
    justify-content: space-between;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width:1000px;
    height: 32px;
    margin-left: 201px;
    color: #ffffff;
    margin-top: 28px;
}

.link {
    color: white;
        
}
   
h1 {
    display: flex;
    font-size: xx-large;
    text-align: center;
}

.mpart-1 {
    text-align: center;
}
.mp2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

a:hover {
    color: red;
}


.action {
    background-color: #FF6565;
    width: 162px;
    height: 44px;
    border-radius: 50px;
    color: white;

}

.main-part {
   display: flex;
   flex-direction: column;
   align-content:  center;
   align-items: center;
   
}

@media screen and (max-width: 600px) {
    
}

.part2 {
    display: flex;
    flex-direction: column;
}

.what_we_do {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
}

.sound-1 {
    text-align: center;

}

.sound-2 {
    text-align: center;
    display: flex;
    
}

.p-2.1 {
    display: flex;
    padding: 50px;
}

.p-2.2 {
    border-left 100px;
    
}

.polygon {
    display: flex;
    width: 986px;
    height: 190px;
    margin-top: 56px;
    margin-left: 207px;
    justify-content: space-between;

}

.polygon_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(images/pentagone.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 190px;
    color: #ffffff;
    height: 190px;
    justify-items: center;
    align-items: center;
    border: none;
}

.polygon_1_2 {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    font-size: 200%;
}

.p-3 {
    background-image:url(images/headphones_hero_2.jpg);
    height: 100%;
    width: auto;
}


.p-3.2 {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    border-top: ;
}
